<div class="row">
  <%= content_tag(:div, "Start!", class: 'text-center fs-3 fw-bold mb-4', data: {
    controller: "countdown",
    countdown_target: "countdown",
    start_time_value: start_time
  }) %>
</div>
